extends ../partials/header
block main
  .all-content-wrapper
    .title-wrapper What is UAACTF?
    .each-content-wrapper.big-content-wrapper 
  .background-wrapper
    .background-wrapper-left
      .background-line-1
      .background-line-2
    .background-wrapper-right
      .background-line-3
      .background-line-4
    
  
